<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>App Asta Fantacalcio - Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
</head>
<body>
    <div class="header-menu">App Asta Fantacalcio</div>
    <div class="container-menu">
        <div class="header-section">Errore</div>
        <div class="header-section" th:text="${message}"></div>
    </div>
    <div class="link-home">
        <a href="/">Torna alla Home</a>
    </div>
    <div class="footer">Powered by Semmy</div>
</body>
</html>